extends layout

block content
  h1
    a(href='http://www.highcharts.com/') Highcharts

  article#highcharts
    p Highcharts is a charting library written in pure JavaScript, offering intuitive, interactive charts to your web site or web application. Highcharts currently supports line, spline, area, areaspline, column, bar, pie and scatter chart types.
    
    #pie
    #bar

block scripts
  script(src='/js/libs/highcharts.js')
  script(src='/js/highcharts.js')
