extends layout

block content
  h1 Welcome to Chalish
  h2 Creates Charts from the Tables you keep in 
      a(href='http://www.evernote.com') Evernote.
  p Watch the video below 
  - if(session.error)
    h2 Error
    p
      = session.error
  h2 To Start 
    a(href='/oauth') Login with Evernote

