extends layoutwithlogin

block content
	.content
		.move-up-when-checked
			h1 Create Charts From Your Evernote Tables
		.calltoaction
			a(href='oauth') Sign Up with Evernote
block scripts
	script(src='/js/mainscreen.js')
