extends layout

block content
  .content.section
    h1 Create charts from evernote tables
    p 
      |Sign Up with 
      a(href='oauth') Evernote
    h2 What can you use it for? 
    p
      a(href='/images/Books_Read.png') The Books
      |  you read?
    p 
      a(href='/images/Ongoing_Tasks.png') Your To-Do
      |  lists?
    h2 Why Chalish?
    p We are offering you another motivativing use for Evernote.
    p We are asking you to use tools that are already in Evernote.
    h2 Upcoming Features:
    ul.section
      li 
        p Automated updating of notes with Charts without visiting Chalish.
      li
        p Number Charts, Daily Time Charts
      li
        p Clash your performance with other Chalish users.
      li
        p Chalish Robot warning you about your performance.
    h3 
      a(href='#') Contact us
      |  for questions & suggestions.
  .showwidth
block footer
  .footer.section
    p Copyright, 2013, 2gd AS
    p Time is a poker player that never cheats, and always wins.
block scripts
  script(src='/js/mainscreen.js')
