doctype 5
html
  head
    title Chalish
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  .wrapper
    .header
      .logo
        h1
          a(href='http://www.chalish.com')
            img(src='images/rooney.png')
      .right
        #loginboxes
          ul
            li 
              p Username
            li 
              input(name='username')
            li 
              p Password
            li 
              input(name='password')
            li
              a(href='/login') Login
    .clearfix
    block content
		.footer
      p Copyright
    block scripts
