doctype 5
html
	head
		title Chalish
		link(href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Condiment', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.wrapper
			.header
				.logo
					a(href='http://www.chalish.com')
						p Chalish
				.right
					form(action='/login', method='POST')
						ul
							li
								p email
							li
								input(name='email')
							li
								p Password
							li
								input(type='password', name='password')
							li
								input.input(type='submit', name='login', value='login')
				.loginerror
					-if (session.error)
						h2 Error
						p
							=session.error

			.clearfix
			block content
			.footer
				a(href='#') Link To Developer. Go Premium
			block scripts
