doctype 5
html
	head
		title Chalish
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.wrapper
			.header
				.logo
					a(href='http://www.chalish.com')
						img(src='images/rooney.png')
				.right
					form(action='/login', method='POST')
						ul
							li
								p email
							li
								input(name='email')
							li
								p Password
							li
								input(type='password', name='password')
							li
								input.input(type='submit', name='login', value='login')
				.loginerror
					-if (session.error)
						h2 Error
						p
							=session.error

			.clearfix
			block content
			.footer
				a(href='#') Link To Developer. Go Premium
			block scripts
