doctype 5
html
  head
    title Chalish
    <!--link(href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300', rel='stylesheet', type='text/css')-->
    <!--link(href='http://fonts.googleapis.com/css?family=Condiment', rel='stylesheet', type='text/css')-->
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    link(rel="shortcut icon", href="/images/chalish-logo.svg") 
    .wrapper
      .header.section
        .logo
          a(href='www.chalish.com')
            img(src='images/chalish-logo.svg')
            p Chalish
        -if (session.email)
          .right
            p Username
              =session.email
            a(href='/clear') Logout
        -else
          .right
            form(action='/login', method='POST')
              p email
              input(name='email')
              p Password
              input(type='password', name='password')
              input.input(type='submit', name='login', value='login')
        -if (session.error)
          .loginerror    
            h2 Error
              p
                =session.error

      block content
      .footer.section
        a(href='#') Link To Developer. Go Premium
      block scripts

