doctype 5
html
	head
		title Chalish
		link(href='http://fonts.googleapis.com/css?family=Condiment', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.wrapper
			.header
				.logo
					h1
						a(href='http://www.chalish.com')
							p Chalish
				-if (session.email)
					.right
						p Username
							=session.email
						a(href='/clear') Logout

			.clearfix
			block content
			.footer
				p Copyright
			block scripts
