doctype 5
html
  head
    title Evernote Node.js Express Demo
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    script(src='http://code.jquery.com/jquery-latest.min.js')

    block scripts
