extends layout

block content
  .content.section
    h2 Create your user
    .formcreate
      form(action='/createUser', method='POST')
        .row
          .columns.eight
            p E-Mail
          .columns.eight
            input(name='email')
        .row
          .columns.eight
            p Password
          .columns.eight
            input(type='password', name='password')
        .row
          .columns.sixteen
            input(type='submit', name='createUser', value='Create User')
