extends layout

block content
  .content.section
    h2 Select a Note:

    .center
      form(action='/getChart', method='POST')
        select.chosen
        input.input(type='button', name='action', value='Get Chart')
        input.input(type='button', name='addToList', value='Add to My List')
      .overdraw
        .spinner
          .rect1
          .rect2
          .rect3
          .rect4
          .rect5
    .noteList
      -if (session.noteList)
        p Number of notes:
          =session.noteList.length
        each note in session.noteList
          a.del(href='/#', onclick='removeNote("' + note.guid + '");return false;') 
          a.notename(href='/#', data-guid=note.guid)
            =note.name
    #bar
block scripts
  script(src='http://code.jquery.com/jquery-latest.min.js')
  script(src='/js/libs/highcharts.js')
  script(src='/js/libs/exporting.js')
  script(src='/js/libs/chosen.jquery.min.js')
  script(src='/js/notes.js')
