extends layout

block content
  .content.section
    h2 Select a Note:

    .center
      form(action='/getChart', method='POST')
        select(name='select')
        input.input(type='button', name='action', value='Submit')
      .spinner
        .rect1
        .rect2
        .rect3
        .rect4
        .rect5
    #bar
block scripts
  script(src='http://code.jquery.com/jquery-latest.min.js')
  script(src='/js/libs/highcharts.js')
  script(src='/js/libs/exporting.js')  
  script.
    $(document).ready(function() {
      $('[name=select]').prop('disabled', true);
      $('.input').prop('disabled', true);
      $.ajax('/notesLoad', {
        type: 'GET',
        dataType: 'json',
        success: function (data) {
          var options='';
          $(data.notes).each( function() {
            $('[name=select]').append('<option value="' + this.guid + '">' + this.title + '</option> \n');
          });
          $('[name=select]').prop('disabled', false);
          $('.input').prop('disabled', false);
          $('.spinner').hide();
        }
      });
      $(".input").click(function (event) {
        //Disabling the controls
        $('[name=select]').prop('disabled', true);
        $('.input').prop('disabled', true);
        $('.spinner').show();

        var selectedGuid = $('[name=select] :selected').val();
        $.post('/getChart', {'selectedGuid': selectedGuid}, function(data) {
          $('[name=select]').prop('disabled', false);
          $('.input').prop('disabled', false);
          if (data.err) {
            $('.error').remove();
            $('.center').append('<div class="error"> <p> Error: ' + data.err + '</p> </div>');
            $('.error p').click(function(){
              $('.error').hide(); // hide the overlay
            });     
            $('#bar').hide();
          }
          else{
            $('.error').remove();
            $('#bar').show();
            var chart = new Highcharts.Chart({
              chart:   { zoomType: 'xy', renderTo: 'bar' },
              title:   { text: 'Work Done Per Month' },
              subtile: { text: 'Averages included' },
              xAxis:   { categories: data.chartData.monthNamesArray },
              yAxis: [{
                title: {
                  text: 'Number of Works Done',
                  style: { color: '#4572A7' }
                }
                },{
                title: {
                  text: 'Average',
                  style: { color: '#AA4643' }
                },
                opposite: true
              }],
              tooltip: { shared: true },
              legend: { layout: 'vertical', align: 'left', x: 40,
                verticalAlign: 'top', y: 40, floating: true,
                backgroundColor: '#FFFFFF'
              },
              series: [{
                name: 'Number of Works Done',
                color: '#4572A7',
                type: 'column',
                data: data.chartData.workData
                },{
                name: 'Average',
                type: 'spline',
                color: '#AA4643',
                data: data.chartData.averageData,
                marker: { enabled: false },
                dashStyle: 'shortdot'
              }]
            });
          }
          $('.spinner').hide();
          $('html, body').animate({ scrollTop: $('div#bar')[0].scrollHeight }, 50);
        });
      });    
    });
