extends layout

block content
  h2 Select a Note:

  mixin note_list(title, guid)
    option(value="#{guid}") #{title}

  -if (session.error)
    h2 Error
    p
      =session.error
  
  form(action='/notes', method='POST')
    select(name='select')
      +note_list("Select a value", 0)
      if session.notes
        for note in session.notes
          +note_list(note.title, note.guid)
      else
        for note in notes
          +note_list(note.title, note.guid)
    input.input(type='submit', name='action', value='submit')

  #bar

block scripts
  if data
    script(src='http://code.jquery.com/jquery-latest.min.js')
    script(src='/js/libs/highcharts.js')
    script(type='text/javascript')
     $(function () {
        $(document).ready(function() {
        var chart = new Highcharts.Chart({
          chart: {
            renderTo: 'bar',
            type: 'column'
          },
          title: {
            text: 'Dates'
          },
          xAxis: {
            categories: !{monthNamesArray}},
          series: [{name: 'Dates', data:!{data}}]
        });
        });
      });
  else
    p high charts not loaded yet
