* {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.clearfix:after,
.section:after {
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
	clear: both;
}

.clearfix,
.section {
	zoom: 1; 
}

img {
	max-width: 100%;
	height: auto;
}

body {
	background-color: #f8f8f8;
}

h1, h2, h3, p {
	color: #2F2F2F;
}

h1, h2, h3 {
	font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
	font: serif;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.7em;
}

p {
	font-size: 1.36em;
}

/* $HEADER *****************/

.header.section {
	height: 33vh;
}

.logo {
	float: left;
}
	
.logo img {
	margin-bottom: 1em;
}

.right {
	float: right;
	margin-right: 1%;
}

.right .input {
	margin-top: 10%;
	display: block;
}

/* $CONTENT *****************/

.content {
	margin: 0 auto;
}

.content.section h1, .content.section h2 {
	text-align: center;
	text-transform: uppercase;
}

.content.section h3, .content.section p {
	text-align: center;
}

.content.section p {
	font-family: serif;
}

.content h1 {
	width: 100%;
}

/*Sign Up*/
.content p:nth-child(2) {
	margin: 8% 0;
}

/*what can you*/
.content h2 {
}

/*p books, to-do*/
.content p:nth-child(4), .content p:nth-child(5) {
	float: left;
	width: 15%;
	height: 6%;
	margin-left: 23%;
	margin-bottom: 8%;
}

.content h2 {
	clear: both;
}

/*p we are off*/
.content p:nth-child(7), .content p:nth-child(8) {
	float: left;
	width: 15%;
	margin-left: 23%;
	margin-bottom: 8%;
}

.content > ul {
	list-style-type: none;
	margin-bottom: 6%;
}

.content > ul li {
	float: left;
	width: 16%;
	margin-left: 6%;
}

.content a:visited, .content a:link {
	color: #0000EE;
}

#bar {
  min-width: 66%;
  height: 66%;
  margin: 0 auto;
}

/* $FOOTER *****************/

.footer {
}

.footer p {
	font-size: 0.8em;
}

.footer p:nth-child(1) {
	float: left;
}

.footer p:nth-child(2) {
	float: right;
}

/* $MEDIAQUERIES *****************/

.showwidth:after {
	content: '';
	float: left;
	display: block;
	color: green;
	width: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	.showwidth:after {
		content: 'min-width: 320p, max-width: 480px';
	}
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
	.showwidth:after {
		content: 'min-width: 480px, max-width: 768px';
	}
	.content > ul li {
		float: left;
		width: 15%;
		margin-left: 23%;
	}
}
