/* $BASE
 * $HEADER
 * $CONTENT
 * $FOOTER
 * $MEDIAQUERIES
 */

/* $BASE *****************/

* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.clearfix:after,
.section:after {
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
	clear: both;
}

.clearfix,
.section {
	zoom: 1; 
}

.section {
}

img {
	max-width: 100%;
	height: auto;
}

body {
  font: 100% "Open Sans Condensed", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 2em;
}

p {
	font-size: 1.36em;
}

.wrapper {
	background-color: #f8f8f8;
	margin: 0;
}

/* $HEADER *****************/

.header {
	width: 100%;
	margin-bottom: 5%;
}

.logo {
	float: left;
	width: 50%;
}
	
.logo ul li {
	list-style-type: none;
}

.logo a img, .logo a p {
}

.logo a img {
	margin-bottom: 1em;
}

.logo a {
	text-decoration: none;	
}

.logo a p {
	font-family: 'condiment', cursive;
	font-size: 3em;
	color: black;
}

.right {
	float: right;
	margin-top: 3%;
	margin-right: 1%;
}

.right form * {
}

.right .input {
	margin-top: 10%;
	display: block;
}

/* $CONTENT *****************/

.content *{
	margin: 0 auto;
	width: 90%;
}

.content > h1,h2 {
	text-align: center;
	text-transform: uppercase;
}

.calltoaction {
	margin: 5%;
}

.calltoaction p {
	text-align: center;
}

.calltoaction a {
	color: green;
}

#bar {
  min-width: 66%;
  height: 66%;
  margin: 0 auto;
}

/* $FOOTER *****************/


/* $MEDIAQUERIES *****************/
